.content {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 12px;
}
input {
  width: 100%;
  padding: 16px;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
}
.button {
  border: none;
  background-color: #333;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  padding: 12px;
  transition: 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 16px;
}

input:focus {
  border-bottom: 1px solid #333;
  opacity: 0.9;
  transition: 0.6s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: #333;
}

@media screen and (max-width: 500px) {
  input {
    padding: 14px;
  }
  button {
    padding: 10px;
  }
}
