.done {
  color: grey;
  text-decoration: line-through;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkedBlock {
  display: flex;
  align-items: center;
}

.navigationBlock {
}
