.done {
  color: grey;
  text-decoration: line-through;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBlock {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.editModal {
  width: 100%;
  max-width: 500px;
}

.btnEditBlock {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.deleteQuestion {
  font-size: 18px;
}

.saveBtn {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background: none;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.saveBtn:hover {
  background-color: #333;
  color: #fff;
}

.cancelBtn {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background: none;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.cancelBtn:hover {
  background-color: #333;
  color: #fff;
}

.checkedBlock {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
  margin: 0;
}

.doText {
  font-size: 24px;
}

.checkedIcons {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.navigationBlock {
  width: 100%;
  max-width: 60px;
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.deleteIcon:hover {
  color: red;
}

.editIcon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.editIcon:hover {
  color: green;
}

@media screen and (max-width: 500px) {
  .doText {
    font-size: 22px;
  }
  .checkedIcons {
    font-size: 18px;
  }
  .deleteIcon {
    font-size: 18px;
  }
  .editIcon {
    font-size: 18px;
  }
}
